@using CaptureTheChris.Enigma
@model CaptureTheChris.Web.Models.EnigmaModel

@foreach (EnigmaGuessResult gameResult in Model.Tries)
    {
        <div class="row">
            @foreach (EnigmaField field in gameResult.tries)
            {
                <div class="col btn btn-outline-primary enigma-field mt-2 mb-2 crossed" style="background: @field.EnigmaColor">
                  @if (field.IsGuessed)
                  {
                      <img src="@Url.Content("~/content/Images/crown.png")" class="img-fluid" style="max-height: 54px" alt="submit" />  
                  }
                </div>
            }
        </div>
    }

<div class="row">
    <div class="col-md-auto">
        <h3>Pozostała liczba prób: @Model.TriesCount</h3>
    </div>
</div>

@if (Model.IsWon)
{
    @Html.Partial("_Flag")
}
@if (Model.TriesCount == 0)
{
    <div class="row align-items-end mt-lg-4 text-center text-break">
        <div class="col">
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Przegrałeś. Kliknij @Html.ActionLink("tutaj", "Index") aby spróbować ponownie.
            </div>
        </div>
    </div>
}
